
/* 나눔스퀘어 네오 폰트 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.nsNeo-regular {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 600;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.nsNeo-bold {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 700;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.nsNeo-extrabold {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 800;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.nsNeo-heavy {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 900;
}

/* 메인 영어 폰트 */
@font-face {
    font-family: 'Quentin';
    src: url('/font/Quentin.otf') format('opentype');
}

.Quentin {
    font-family: 'Quentin'; 
}
